apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  JOGOS_DB_PASSWORD: "Data Source=0.tcp.sa.ngrok.io,14232;Initial Catalog=FCG_Jogos;User ID=sa;Password=sa123;Encrypt=False;TrustServerCertificate=True;"
  PAGAMENTOS_DB_PASSWORD: "Data Source=0.tcp.sa.ngrok.io,14232;Initial Catalog=FCG_Pagamentos;User ID=sa;Password=sa123;Encrypt=False;TrustServerCertificate=True;"
  USUARIOS_DB_PASSWORD: "Data Source=0.tcp.sa.ngrok.io,14232;Initial Catalog=FCG_Usuarios;User ID=sa;Password=sa123;Encrypt=False;TrustServerCertificate=True;"